/* ===== CHAMADO ===== */
.chamado {
  text-align: center;
  padding: 60px 20px;
}

.chamado h1 {
  font-size: 36px;
}

/* ===== FORMULÁRIO ===== */
.formulario {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.formulario input,
.formulario textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.formulario button {
  background: #c60c30;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}