.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #ffffff;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.05); */
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* background: #BF0A30; */

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
  gap: 20px;
}

.show-text {
  max-width: 500px;
  text-align: justify;
}

.show-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.show-text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.show-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../images/Test.avif') center/cover no-repeat;
              border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-hero {
  background: #BF0A30;
  color: white;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}